Dear {{{ pName }}},
You have got a new service request: {{{ leadId }}}. Please find below details:

Customer: {{{ name }}}
Mobile: {{{ mobile }}}
Email: {{{ email }}}
Service: {{{ sName }}}
Date: {{{ dueDate }}}
Address: {{{ address }}}
Description: {{{ description }}}


Please visit https://www.zinetgo.com for more details.

Sincerely,
Team Zinetgo
https://www.zinetgo.com
support@zinetgo.com
+91 80 2664 4556